<head>
	<title>Listly-Results</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link href='/styles/style.css' rel='stylesheet' type='text/css'>
    <link href='style.css' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
	<script>
		var directionsDisplay;
		var directionsService = new google.maps.DirectionsService();
		var map;
		var startLat;
		var startLng;
		var businesses;
		var markers;
				
		function initialize() {
	  		
			directionsDisplay = new google.maps.DirectionsRenderer();
	  	  	startLat = <%-lat%>;
			startLng = <%-lng%>;
			
			businesses = <%-taskList%>;
			var startLoc = new google.maps.LatLng(startLat, startLng);
	  	  	var mapOptions = {
	    		zoom: 10,
	    		center: startLoc
	  	  	}
	  	 	map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
	  	  	directionsDisplay.setMap(map);
			directionsDisplay.setPanel(document.getElementById("directions_panel"));
			
			var marker = new google.maps.Marker({
			    position: startLoc, 
			    map: map, 
			    title:"Starting Location",
				icon:"http://www.googlemapsmarkers.com/v1/A/FF0000/" 
			}); 
			
			
			calcRoute();
		}
		
		function calcRoute() {
		  		  
		  var start = startLat + ',' + startLng;
		  var end = startLat + ',' + startLng;
		  var waypts = [];
		  markers = [];
		  		  		  
		  for (var i = 0; i < businesses.length; i++) {
		    waypts.push({
				location: businesses[i].address,
				stopover:true});
			
					
			markers.push({
				lat: businesses[i].lat,
				lng: businesses[i].lng,
				title: businesses[i].name 
				
			});
				 
								
		  }
		   
		  var request = {
		        origin: start,
		        destination: end,
		        waypoints: waypts,
		        optimizeWaypoints: true,
		        travelMode: google.maps.TravelMode.DRIVING
		  };
		  
		  directionsService.route(request, function(response, status) {
		      if (status == google.maps.DirectionsStatus.OK) {
		        directionsDisplay.setDirections(response);
				
				var route = response.routes[0];
		        // For each waypoint, add correesponding marker
		        /*
				for (var i = 0; i < route.legs.length; i++) {
		          
				  var waypt_lat = route.legs[i].end_location.lat();
				  var waypt_lng = route.legs[i].end_location.lng();
				  for (var marker_info in markers) {
					  
					  marker_lat = markers[marker_info].lat;
					  marker_lng = markers[marker_info].lng;
					  
					  
					  					  
					  if (sameCoords(marker_lat, marker_lng, waypt_lat, waypt_lng)) {
						
						var letter = String.fromCharCode("B".charCodeAt(0) + i);
						var loc = new google.maps.LatLng(markers[marker_info].lat, markers[marker_info].lng);
			  			var marker = new google.maps.Marker({
			  					position: loc, 
			  					map: map, 
								title: markers[marker_info].title,
							    icon:"http://www.googlemapsmarkers.com/v1/"+letter+"/009900/"
								
			  		    });
						
					  } 
					
		          }
		         }
				*/
				
		      }
		  }); 
		   
		}
		
		function sameCoords(lat1, lng1, lat2, lng2) {
			
			dLat = Math.abs(lat1-lat2);
			dLng = Math.abs(lng1-lng2);
			return (dLat < 0.00025 && dLng < 0.00025);
			
			
		}
					
		google.maps.event.addDomListener(window, 'load', initialize);
		
	</script>
</head>
<body>
    <div id="main-wrapper">
    	<button id='logout'>Log Out</button>
        <h1>Here's the plan!</h1>
        <% JSON.parse(taskList).forEach(function(bus) { %>
            <h3>Go to <span class="bus"><%=bus.name%></span> to complete:</h3>
            <% bus.tasks.forEach(function(task) { %>
                <p>- <%=task%></p>
            <% }); %>
        <%  }); %>
        <% if(JSON.parse(unsatisfiedToDos).length > 0) { %>
            <h1>We couldn't help you with...</h1>
            <% JSON.parse(unsatisfiedToDos).forEach(function(t) { %>
                <p>- <%=t%></p>
            <% }); %>
        <% } %>
         
        
    </div>
	
	<div id="map-canvas" style="width:70%;height:70%;"></div>
	<div id="directions_panel">
	    
	</div>
	
	
</body>
<script>
	$('#logout').click(function() {
		$.post("/logout", function(res) {
	 		window.location.replace("/login");
	 	});
	});
</script>
